:root {
  --side: 30px;
}

html {
  height: 100%;
}

body {
  font-family: "Noto Sans", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background: #161512;
}

.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app {
  width: 1050px;
}

.boards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.board-wrapper {
  display: block;
  margin: 20px;
}

.board {
  margin: auto;
  border-collapse: collapse;
}

.square {
  width: var(--side);
  min-width: var(--side);
  height: var(--side);
  min-height: var(--side);
}

.square-dark {
  background-color: #272727;
}

.square-light {
  background-color: #474747;
}

.square-completed {
  background-color: #669933;
  box-shadow: inset 0 0 0 1px #558822;
}

.coordinate-label {
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  color: #888888;
}

.coordinate-label__file {
  width: var(--side);
  min-width: var(--side);
  padding: 2px 0;
}

.coordinate-label__rank {
  height: var(--side);
  min-height: var(--side);
  padding: 0 2px;
}

.piece-name {
  font-size: 20px;
  font-weight: 900;
  padding: 20px;
  text-align: center;
  color: #888888;
}

.bottom-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding: 20px;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.stats-row {
  margin: 5px 0;
  padding: 0 10px;
}

.stats-row--progress {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.progress-bar {
  height: 20px;
  border-radius: 9999px;
  background-color: #555555;
}

.progress-bar__progress {
  width: 0;
  height: 100%;
  border-radius: 9999px;
  background-color: #669933;
}

.stat-text {
  font-size: 20px;
  color: #777777;
}

.controls {
  display: flex;
  flex-direction: column;
}

.controls-row {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0;
  padding: 0 10px;
}

.controls-row .button {
  width: 150px;
  margin: 3px 0;
}

.controls-row .input-text {
  flex: 1;
  margin: 3px 10px;
}

.button {
  font-size: 18px;
  padding: 8px;
  color: #777777;
  border: none;
  border-radius: 10px;
  background: #161512 linear-gradient(to bottom, #2e2a24, #161512 116px)
    no-repeat;
}

.button:hover:enabled {
  color: #999999;
  background: #262522 linear-gradient(to bottom, #3e3a34, #262522 116px)
    no-repeat;
}

.button:disabled {
  opacity: 25%;
}

.input-text {
  font-size: 18px;
  padding: 8px;
  text-align: center;
  color: #888888;
  border: solid 2px #333333;
  border-radius: 9999px;
  background-color: #222222;
}
